{% extends 'base.html' %}
{% block title %}Sudoku Trainer{% endblock %}

{% block body %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis ut turpis vel vestibulum. Aliquam sem velit, lacinia eu accumsan pharetra, blandit id risus. Sed ultricies egestas blandit. Suspendisse tempor metus quis purus ultricies, et ultricies tellus aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec laoreet ante vitae malesuada luctus. Nulla id rutrum risus, a tincidunt neque. Maecenas hendrerit velit non rutrum vehicula.
{% endblock %}